{% extends "index.html" %}
{% block body %}
<h1 align="center">Change Password</h1>

<form action="" method="POST">
<table width="200" align="center">
  <tr>
    <td><strong>Current Password</strong></td>
    <td>&nbsp;<input name="current" type="text" required /></td>
  </tr>
  <tr>
    <td><strong>New password</strong></td>
    <td><input name="new" type="text"  required/> </td>
  </tr>
  
  <tr>
    <td><strong>confirm password</strong></td>
    <td><input name="confirm" type="text"  required/> </td>
  </tr>
  <tr>
  <td>    </td>
    
    <td><strong><input name="submit" type="submit" value="Change" /></strong> &nbsp;</td>
  </tr>
</table>

</form>


{% endblock %}
