{% extends "index.html" %}
{% block body %}
<u><b><h1 align="center"> Edit   Item</h1></b></u>

<form action="/myapp/adm_updateitem/"   onsubmit="return validate()" enctype="multipart/form-data" method="post">

{% csrf_token %}
<input type="hidden" name="hid" value="{{ data.id }}">
<br>
<br>
<br>
<br>


<table class= "table table-hover">
  <tr>
    <td><strong>Category </strong></td>
    <td> <select name="category"  class="btn btn-primary">
        {% for i in data1 %}
            <option value="{{ i.id }}">{{ i.category_name }}</option>


        {% endfor %}
    </select></td>
  <tr>
    <td><strong>Subcategory </strong></td>

    <td> <select name="subcategory"  class="btn btn-primary">
        {% for i in data2 %}
            <option value="{{ i.id }}">{{ i.subcategory_name }}</option>


        {% endfor %}
    </select></td>
  </tr>
  </table>
<table   class= "table table-hover">

  <tr>
     <td><strong>Item name</strong></td>
    <td>&nbsp;<input name="item_name" type="text"     class="form-control"   id="name" value="{{ data.item_name }}" required/></td>
  </tr>
  <tr>
     <td><strong>Item price</strong></td>
    <td>&nbsp;<input name="item_price" type="text"   class="form-control"   id="price" value="{{ data.item_price }}" required/></td>
  </tr>
  <tr>
     <td><strong>Item quantity</strong></td>
    <td>&nbsp;<input name="item_quantity" type="text"    class="form-control"  id="qty"  value="{{ data.item_quantity }}" required/></td>
  </tr>
  <tr>
     <td><strong>Item image</strong></td>
    <td>&nbsp;<input name="item_image" type="file"   class="form-control"  /></td>
  </tr>
  <tr>
    <td></td>
    <td><strong><input name="update_item" type="submit"  class="btn btn-success"  value="Update" ></strong></td>
  </tr>

</table>




</form>

     <script>
    function validate(){
        var letters = /^[A-Za-z]+$/;
        var cate=document.getElementById('name');
        if(!cate.value.match(letters))
      {
      alert('Item name should be alphabet only');
      return false;
      }



        var numbers = /^[0-9]+$/;
        var cat=document.getElementById('price');
        if(!cat.value.match(numbers))
        {
        alert('Item price should be numbers only');

        return false;
        }



        var numbers = /^[0-9]+$/;
        var cati=document.getElementById('qty');
        if(!cati.value.match(numbers))
        {
            alert('Item quantity should be numbers only');

        return false;
        }
        return true;
        }

    </script>






{% endblock %}
