{% extends "index.html" %}
{% block body %}
<h1 align="center">WEDDING DOVES</h1>
{##}
{#<form action="" method="get">#}
{#<p><a href="/myapp/adm_add_branch/">Add Branch</a> </p>#}
{#<p><a href="/myapp/adm_view_branch/">View Branch</a> </p>#}
{#<p><a href="/myapp/adm_add_branch_manager/">Add Branch Manager</a> </p>#}
{#<p><a href="/myapp/adm_view_branch_manager/">View Branch Manager</a> </p>#}
{#<p><a href="/myapp/adm_add_category/">Add Category</a> </p>#}
{#<p><a href="/myapp/adm_view_category/">View Category </a> </p>#}
{#<p><a href="/myapp/adm_add_subcategory/">Add Subcategory</a> </p>#}
{#<p><a href="/myapp/adm_view_subcategory/">View Subcategory</a> </p>#}
{#<p><a href="/myapp/adm_add_Add_item/">Add Item</a> </p>#}
{#<p><a href="/myapp/adm_view_item/">View Item</a> </p>#}
{#<p><a href="/myapp/adm_review/">View Review</a> </p>#}
{#<p><a href="/myapp/adm_view_rating/">View Rating</a> </p>#}
{# <p><a href="/myapp/adm_view_order_details/">View Order Report</a> </p>#}
{# <p><a href="/myapp/">Logout</a> </p>#}
{##}
{#</form>#}
{% endblock %}
