<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>login </title>
<h1 align="center"> Login</h1>
</head>
<body>
<form action="" method="POST">
<table width="200" align="center">
  <tr>
    <td><strong>Username</strong></td>
    <td>&nbsp;<input name=" username" type="text" pattern="[a-zA-Z]+" required /></td>
  </tr>
  <tr>
    <td><strong>password</strong></td>
    <td><input name="password" type="text"  required/> </td>
  </tr>
  <tr>
  <td></td>
    
    <td><strong><input name="login" type="submit" value="Login" /></strong> &nbsp;</td>
  </tr>
</table>

</form>

</body>
</html>
